[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/nativefiledialog-extended"]
	path = thirdparty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "thirdparty/imgui-sfml"]
	path = thirdparty/imgui-sfml
	url = https://github.com/SFML/imgui-sfml.git
[submodule "thirdparty/SFML"]
	path = thirdparty/SFML
	url = https://github.com/SFML/SFML.git
[submodule "thirdparty/tiny-process-library"]
	path = thirdparty/tiny-process-library
	url = https://github.com/eidheim/tiny-process-library.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
